<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="camera">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="geolocation">
      <ion-icon name="locate-outline"></ion-icon>
      <ion-label>Geolocation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deviceinfo">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>DeviceInfo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="haptic">
      <ion-icon name="radio-outline"></ion-icon>
      <ion-label>Haptic</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifier">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifier</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="other">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>Other</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
